@charset "UTF-8";
.header.header-access {
    background: url(../img/access/hero_access.jpg) no-repeat center center/cover;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%; 
}

.section-access {
    padding: 30px 0 50px;
}

@media print, screen and (min-width: 768px) {
    .section-access {
        padding: 60px 0 100px;
        max-width: 700px;
        margin: 0 auto;
    }
}

.access-img {
    margin-bottom: 15px;
}

@media print, screen and (min-width: 768px) {
    .access-img {
        width: 50%;
        max-width: 300px;
        padding-right: 20px;
    }
}

.address {
    margin-bottom: 20px;
}

.address dt {
    font-size: 12px;
    margin-bottom: 10px;
}

.access-name {
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E", "MS P明朝", "MS 明朝", serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.address-text {
    font-size: 14px;
    line-height: 1.67;
    margin-bottom: 10px;
}

.address-contact {
    font-size: 12px;
    line-height: 1.5;
}

@media print, screen and (min-width: 768px) {
    .access-block {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.map {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    margin-bottom: 10%;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}